body {
    background-color: #add8e6;
}
nav a {
    text-decoration: none;
}
nav {
    background-color: blueviolet;
    display: flex 
} 
a {
    color: #add8e6;
    padding: 25px;
    font-size: 24px;
}
a:hover{
    background-color: #add8e6;
    color: blueviolet;
}
h1 {
    text-align: center;
}
img {
    width: 300px;
    display: block;
    margin: 0 auto;
}
p {
    text-align: center;
}
